.admin-mode-notifier {
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #F34E4E;
    line-height: 2em
}
.cbase-update,
.project-create,
.project-update,
.project-delete {
    text-align: left;
    width: 90%;
    padding: 20px;
    margin: 20px auto;
}
.cbase-update,
.project-create,
.project-update {
    background: #ccc;
}
.cbase-update .cbase-update__header,
.project-update .project-update__header {
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 2px;
    font-size: 15px;
    margin-top: 10px;
}
.cbase-update .cbase-update__input,
.project-create .project-create__input,
.project-update .project-update__input {
    font-size: 15px;
    line-height: 1.4;
    width: 100%;
    border: 0;
    padding: 4px 10px;
}
.cbase-update .cbase-update__textarea,
.project-update .project-update__textarea {
    font-size: 15px;
    width: 100%;
    border: 0;
    min-height: 200px;
    padding: 10px;
}
.cbase-update .cbase-update__button,
.project-create .project-create__button,
.project-update .project-update__button,
.project-delete .project-delete__button {
    line-height: 1.6;
    background: #E15532;
    display: inline-block;
    padding: 1px 8px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}
.project-delete .project-delete__button {
    margin-top: 100px;
    background: #F34E4E;
}
.list-summary__curator {
    min-height: 120px;
}
.forward-link {
    color: #E15532;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 40px;
    display: block;
}

footer {
    background: #F7931D;
}
.footer__text {
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
    padding-bottom: 40px;
}
.footer__text p {
    margin-top: 10px;
}
.footer__text a {
    text-decoration: underline;
}
.back-link {
    margin-bottom: 20px;
}
.project-meta__curator {
    min-height: 80px;
}
