.layout__row {
    padding: 20px 0;
}
.admin-mode-notifier {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #F34E4E;
    line-height: 2em
}
.project-create,
.project-update,
.project-delete {
    text-align: left;
    width: 90%;
    padding: 20px;
    margin: 20px auto;
}
.project-create,
.project-update {
    background: #ccc;
}
.project-update .project-update__header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 2px;
    font-size: 15px;
    margin-top: 10px;
}
.project-create .project-create__input,
.project-update .project-update__input {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    width: 100%;
    border: 0;
    padding: 4px 10px;
}
.project-update .project-update__textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    border: 0;
    min-height: 200px;
    padding: 10px;
}
.project-create .project-create__button,
.project-update .project-update__button,
.project-delete .project-delete__button {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background: #557deb;
    display: inline-block;
    padding: 1px 8px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}
.project-delete .project-delete__button {
    margin-top: 100px;
    background: #F34E4E;
}
.list-summary__curator {
    min-height: 120px;
}
.forward-link {
    color: #557deb;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 40px;
    display: block;
}