<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clarity - show cases</title>
    <link href="/css/foundation.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/additions.css" rel="stylesheet" type="text/css">
    
    <link rel='image_src' href='https://www.codefor.nl/img/larger_CfNL.png'/>
    <link rel='shortcut icon' type='image/png' href='https://www.codefor.nl/img/larger_CfNL.png'>
</head>

<body class="layout">

    <h1 class="admin-mode-notifier">
        ADMIN MODE
        <a style="float: right; margin-right: 1em; font-weight: 900" href="/cbase/{{ cbase.slug }}">✖</a>
    </h1>

    <header class="main-header layout__main-header">
        <a href="/cbase/{{ cbase.slug }}" target="__blank">
            <img src="/svg/clarity-showcases-logo.svg" alt="Clarity - show cases" class="main-header__logo">
        </a>
    </header>

    <main class="main-content layout__main-content">
        
        <form class="searchbar layout__searchbar" style="visibility: hidden">
            <input type="text" class="searchbar__input" placeholder="Search {{ cbase.name }} show cases" name="q" value="">
            <button class="searchbar__button"><img src="/svg/searchbar-icon.svg"></button>
        </form>

        <div class="layout__row">

            <div class="layout__list-meta">

                <div class="list-summary">
                    <a href="/admin/cbase/{{ cbase.slug }}?token={{ token }}">
                        <h2 class="list-summary__title">{{ cbase.name }}</h2>
                    </a>
                    <div class="list-summary__count">{{ cbase._embedded.usecase|length }} show cases</div>
                    <p class="list-summary__description">{{ cbase.description }}</p>
                    <div class="list-summary__curator">
                        <div class="curator">
                            <img
                                data-original-img="{{ cbase.image }}"
                                src="https://img.codefor.nl?url={{ (cbase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=80&width=80" class="curator__avatar">
                            <div class="curator__contact">
                                <h3 class="curator__name">{{ cbase.admin_name }}</h3>
                                <div class="curator__badge">curator</div>
                                <a href="mailto:{{ cbase.admin_email }}" class="curator__email">{{ cbase.admin_email }}</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <form class="project-create" method="post" action="/admin/cbase/{{ cbase.slug }}/usecase/create?token={{ token }}">
                    <input class="project-create__input" type="text" name="name" placeholder="Name"><br>
                    <button class="project-create__button" type="submit">Create use case</button>
                </form>
                
                <form class="cbase-update" method="post" action="/admin/cbase/{{ cbase.slug }}/update?token={{ token }}">
                    <h3 class="cbase-update__header">Name</h3>
                    <input class="cbase-update__input" type="text" name="name" value="{{ cbase.name }}"><br>
                    <h3 class="cbase-update__header">Admin name</h3>
                    <input class="cbase-update__input" type="text" name="admin_name" value="{{ cbase.admin_name }}"><br>
                    <h3 class="cbase-update__header">Admin email</h3>
                    <input class="cbase-update__input" type="text" name="admin_email" value="{{ cbase.admin_email }}"><br>
                    <h3 class="cbase-update__header">Image</h3>
                    <input class="cbase-update__input" type="text" name="image" value="{{ cbase.image }}"><br>
                    <h3 class="cbase-update__header">Description</h3>
                    <textarea class="cbase-update__textarea" name="description">{{ cbase.description }}</textarea>
                    <button class="cbase-update__button" type="submit">Update cbase</button>
                </form>
                
                <form class="cbase-update" method="post" action="/admin/cbase/{{ cbase.slug }}/regenerate">
                    <h3 class="cbase-update__header">Password</h3>
                    <input class="cbase-update__input" type="password" name="password">
                    <button class="cbase-update__button" type="submit">Regenerate token link</button>
                </form>

            </div>

            <div class="layout__project-list">

{% for usecase in cbase._embedded.usecase %}

                <a href="/admin/cbase/{{ cbase.slug }}/usecase/{{ usecase.slug }}?token={{ token }}">
                    <div class="project layout__project-list-item">
                        <img
                            data-original-img="{{ usecase.image }}"
                            src="https://img.codefor.nl?url={{ (usecase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=426&width=640" class="project__image">
                        <div class="project__meta">
                            <div class="project__summary">
                                <h3 class="project__title">{{ usecase.name }}</h3>
                                <h4 class="project__location">{{ usecase.organisation }}</h4>
                            </div>
                            <!--
                            <div class="project__tools">
                                <img src="/svg/tools-icon.svg" class="project__tools-icon">
                                <span class="project__tools-count">{{ usecase.tools|length }} tool</span>
                            </div>
                            -->
                        </div>
                    </div>
                </a>

{% endfor %}

            </div>
        </div>
        
    </main>

    {% include 'footer.html' %}
</body>
</html>
