<footer>
    <div class="footer__text">
        <p>"Clarity - show cases" is a part of the <a href="https://clarity-csa.eu/">Clarity Open eGovernment Services</a> project.</p>
        <p>The CLARITY project is a two-year project, funded by the European Commission under the Horizon 2020 framework. Grant Agreement number: 693881</p>
        <p>"Clarity - show cases" is available as an open source application, maintained by Code for NL on <a href="https://github.com/codefornl/clarity">github.com/codefornl/clarity</a>.</p>
        <p>Please contact <a href="http://www.codefor.nl">Code for NL</a> for more information.</p>
    </div>
</footer>
