<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clarity - case studies</title>
    <link href="/css/foundation.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/additions.css" rel="stylesheet" type="text/css">
    
    <meta property='og:url' content='{{ uri }}'>
    <meta property='og:title' name='title' content="{{ usecase.name }}">
    <meta property='og:description' name='description' content="{{ usecase.teaser }}">
    <meta property='og:image' content="{{ usecase.image }}">
    <link rel='image_src' href="{{ usecase.image }}"/>
    <meta name='keywords' content="">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ usecase.name }}">
    <meta name="twitter:description" content="{{ usecase.teaser }}">
    <meta name="twitter:image:src" content="{{ usecase.image }}">
    
</head>
<body class="layout">

    <header class="main-header layout__main-header">
        <a href="/#{{ usecase._embedded.cbase.slug }}">
            {% if usecase._embedded.cbase.logo_image %}
            <img src="{{ usecase._embedded.cbase.logo_image }}" alt="Clarity - case studies" class="main-header__logo">
            {% else %}
            <img src="/svg/clarity-casestudies-logo.svg" alt="Clarity - case studies" class="main-header__logo">
            {% endif %}
        </a>
    </header>

    <main class="main-content layout__main-content">

        <form class="searchbar layout__searchbar" action="/cbase/{{ usecase._embedded.cbase.slug }}">
            <input type="text" class="searchbar__input" placeholder="{{ translate("Search", usecase._embedded.cbase.language) }} {{ usecase._embedded.cbase.name }} {{ translate("case studies", usecase._embedded.cbase.language) }}" name="q" value="{{ q }}">
            <button class="searchbar__button"><img src="/svg/searchbar-icon.svg"></button>
        </form>

        <div class="layout__row">

            <a href="/cbase/{{ usecase._embedded.cbase.slug }}#{{ usecase.slug }}" class="back-link layout__back">&larr; {{ usecase._embedded.cbase.name }} {{ translate("case studies", usecase._embedded.cbase.language) }}</a>

            <article class="project-detail layout__project-detail">
                <div class="project-detail__image" style="background-image: url(https://img.codefor.nl?url={{ (usecase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=426&width=640)">
                    <div class="project-detail__overlay">
                        <h1 class="project-detail__title">{{ usecase.name }}</h1>
                        <h2 class="project-detail__location">{{ usecase.organisation }} ({{ usecase.country }})</h2>
                    </div>
                </div>
                <div class="wrapper__text">
                    <p class="introduction">{{ usecase.teaser }}</p>

                    <p>{{ usecase.description }}</p>

                    <p><a href="{{ usecase.website }}">{{ usecase.website }}</a></p>
                </div>
            </article>

            <aside class="project-meta layout__project-meta">

                <div class="project-meta__item">
                    <h3 class="project-meta__header">{{ translate("Category", usecase._embedded.cbase.language) }}</h3>
                    <p class="project-meta__text">{{ usecase.category }}</p>
                </div>

                <div class="project-meta__item">
                    <h3 class="project-meta__header">{{ translate("Type", usecase._embedded.cbase.language) }}</h3>
                    <p class="project-meta__text">{{ usecase.type }}</p>
                </div>

                <div class="project-meta__item">
                    <h3 class="project-meta__header">{{ translate("Tools", usecase._embedded.cbase.language) }}</h3>
                    <a href="{{ usecase.download }}" class="project-meta__link">{{ usecase.download }}</a>
                </div>

                <div class="project-meta__curator">
                    <div class="curator">
                        <img src="https://img.codefor.nl?url={{ (usecase.contact_image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=80&width=80" class="curator__avatar">
                        <div class="curator__contact">
                            <h3 class="curator__name">{{ usecase.contact_name }}</h3>
                            <div class="curator__badge">{{ translate("contact", usecase._embedded.cbase.language) }}</div>
                            <a href="mailto:{{ usecase.contact_email }}" class="curator__email">{{ usecase.contact_email }}</a>
                        </div>
                    </div>
                </div>

            </aside>

        </div>
    </main>
    <footer>
        <div class="footer__text">
            <p>"Clarity - case studies" is a part of the <a href="https://clarity-csa.eu/">Clarity Open eGovernment Services</a> project.</p>
            <p>The CLARITY project is a two-year project, funded by the European Commission under the Horizon 2020 framework. Grant Agreement number: 693881</p>
            <p>"Clarity - case studies" is available as an open source application, maintained by Code for NL on <a href="https://github.com/codefornl/clarity_slim">github.com/codefornl/clarity_slim</a>.</p>
            <p>Please contact <a href="http://www.codefor.nl">Code for NL</a> for more information.</p>
        </div>
    </footer>
</body>
</html>