<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clarity - case studies</title>
    <link href="/css/foundation.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/additions.css" rel="stylesheet" type="text/css">
</head>
<body class="layout">
        
    <h1 class="admin-mode-notifier">
        ADMIN MODE
        <a style="float: right; margin-right: 1em; font-weight: 900" href="/cbase/{{ usecase._embedded.cbase.slug }}/usecase/{{ usecase.slug }}">✖</a>
    </h1>

    <header class="main-header layout__main-header">
        <a href="/cbase/{{ usecase._embedded.cbase.slug }}/usecase/{{ usecase.slug }}" target="__blank">
            <img src="/svg/clarity-casestudies-logo.svg" alt="Clarity - case studies" class="main-header__logo">
        </a>
    </header>

    <main class="main-content layout__main-content">

        <form class="searchbar layout__searchbar" style="visibility: hidden">
            <input type="text" class="searchbar__input" placeholder="Search {{ usecase._embedded.cbase.name }} case studies">
            <button class="searchbar__button"><img src="/svg/searchbar-icon.svg"></button>
        </form>

        <div class="layout__row">

            <div class="layout__back">
                <a href="/admin/cbase/{{ usecase._embedded.cbase.slug }}?token={{ token }}" class="back-link">&larr; {{ usecase._embedded.cbase.name }} case studies</a>
                
                <form class="project-update" method="post" action="/admin/cbase/{{ usecase._embedded.cbase.slug }}/usecase/{{ usecase.slug }}/update?token={{ token }}">
                    <h3 class="project-update__header">Name</h3>
                    <input class="project-update__input" type="text" name="name" value="{{ usecase.name }}"><br>
                    <h3 class="project-update__header">Organisation</h3>
                    <input class="project-update__input" type="text" name="organisation" value="{{ usecase.organisation }}"><br>
                    <h3 class="project-update__header">Country</h3>
                    <input class="project-update__input" type="text" name="country" value="{{ usecase.country }}"><br>
                    <h3 class="project-update__header">Image</h3>
                    <input class="project-update__input" type="text" name="image" value="{{ usecase.image }}"><br>
                    <h3 class="project-update__header">Teaser</h3>
                    <textarea class="project-update__textarea" name="teaser">{{ usecase.teaser }}</textarea><br>
                    <h3 class="project-update__header">Description</h3>
                    <textarea class="project-update__textarea" name="description">{{ usecase.description }}</textarea><br>
                    <h3 class="project-update__header">Website</h3>
                    <input class="project-update__input" type="text" name="website" value="{{ usecase.website }}"><br>
                    <h3 class="project-update__header">Category</h3>
                    <input class="project-update__input" type="text" name="category" value="{{ usecase.category }}"><br>
                    <h3 class="project-update__header">Type</h3>
                    <input class="project-update__input" type="text" name="type" value="{{ usecase.type }}"><br>
                    <h3 class="project-update__header">Tool</h3>
                    <input class="project-update__input" type="text" name="download" value="{{ usecase.download }}"><br>
                    <h3 class="project-update__header">Contact name</h3>
                    <input class="project-update__input" type="text" name="contact_name" value="{{ usecase.contact_name }}"><br>
                    <h3 class="project-update__header">Contact image</h3>
                    <input class="project-update__input" type="text" name="contact_image" value="{{ usecase.contact_image }}"><br>
                    <h3 class="project-update__header">Contact e-mail</h3>
                    <input class="project-update__input" type="text" name="contact_email" value="{{ usecase.contact_email }}"><br>
                    <button class="project-update__button" type="submit">Save / update</button>
                </form>
        
                <form class="project-delete" method="post" action="/admin/cbase/{{ usecase._embedded.cbase.slug }}/usecase/{{ usecase.slug }}/delete?token={{ token }}">
                    <button class="project-delete__button" type="submit" onclick="if (!confirm('Are you sure you want to delete this use case?')) return false;">Delete this Use Case</button>
                </form>
            </div>

            <article class="project-detail layout__project-detail">
                <div
                    data-original-img="{{ usecase.image }}"
                    class="project-detail__image" style="background-image: url(https://img.codefor.nl?url={{ (usecase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=426&width=640)">
                    <div class="project-detail__overlay">
                        <h1 class="project-detail__title">{{ usecase.name }}</h1>
                        <h2 class="project-detail__location">{{ usecase.organisation }} ({{ usecase.country }})</h2>
                    </div>
                </div>
                <div class="wrapper__text">
                    <p class="introduction">{{ usecase.teaser }}</p>

                    <p>{{ usecase.description }}</p>

                    <p><a href="{{ usecase.website }}">{{ usecase.website }}</a></p>
                </div>
            </article>

            <aside class="project-meta layout__project-meta">

                <div class="project-meta__item">
                    <h3 class="project-meta__header">Category</h3>
                    <p class="project-meta__text">{{ usecase.category }}</p>
                </div>

                <div class="project-meta__item">
                    <h3 class="project-meta__header">Type</h3>
                    <p class="project-meta__text">{{ usecase.type }}</p>
                </div>

                <div class="project-meta__item">
                    <h3 class="project-meta__header">Tools</h3>
                    <a href="{{ usecase.download }}" class="project-meta__link">{{ usecase.download }}</a>
                </div>

                <div class="project-meta__curator">
                    <div class="curator">
                        <img
                            data-original-img="{{ usecase.contact_image }}"
                            src="https://img.codefor.nl?url={{ (usecase.contact_image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=80&width=80" class="curator__avatar">
                        <div class="curator__contact">
                            <h3 class="curator__name">{{ usecase.contact_name }}</h3>
                            <div class="curator__badge">contact</div>
                            <a href="mailto:{{ usecase.contact_email }}" class="curator__email">{{ usecase.contact_email }}</a>
                        </div>
                    </div>
                </div>

            </aside>

        </div>
    </main>
    <footer>
        <div class="footer__text">
            <p>"Clarity - case studies" is a part of the <a href="https://clarity-csa.eu/">Clarity Open eGovernment Services</a> project.</p>
            <p>The CLARITY project is a two-year project, funded by the European Commission under the Horizon 2020 framework. Grant Agreement number: 693881</p>
            <p>"Clarity - case studies" is available as an open source application, maintained by Code for NL on <a href="https://github.com/codefornl/clarity_slim">github.com/codefornl/clarity_slim</a>.</p>
            <p>Please contact <a href="http://www.codefor.nl">Code for NL</a> for more information.</p>
        </div>
    </footer>
</body>
</html>