<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clarity - {{ translate("case studies", 2) }}</title>
    <link href="/css/foundation.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/additions.css" rel="stylesheet" type="text/css">
    
    <meta property='og:url' content='{{ uri }}'>
    <meta property='og:title' name='title' content="{{ cbase.name }}">
    <meta property='og:description' name='description' content="{{ cbase.description }}">
    <meta property='og:image' content="{{ (cbase._embedded.usecase|first).image }}">
    <link rel='image_src' href="{{ (cbase._embedded.usecase|first).image }}"/>
    <meta name='keywords' content="">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ cbase.name }}">
    <meta name="twitter:description" content="{{ cbase.description }}">
    <meta name="twitter:image:src" content="{{ (cbase._embedded.usecase|first).image }}">
</head>

<body class="layout">

    <header class="main-header layout__main-header">
        <a href="/#{{ cbase.slug }}">
            {% if cbase.logo_image %}
            <img src="{{ cbase.logo_image }}" alt="Clarity - case studies" class="main-header__logo">
            {% else %}
            <img src="/svg/clarity-casestudies-logo.svg" alt="Clarity - case studies" class="main-header__logo">
            {% endif %}
        </a>
    </header>

    <main class="main-content layout__main-content">

        <form class="searchbar layout__searchbar" action="/cbase/{{ cbase.slug }}">
            <input type="text" class="searchbar__input" placeholder="{{ translate("Search") }} {{ cbase.name }} {{ translate("case studies", 2) }}" name="q" value="{{ q }}">
            <button class="searchbar__button"><img src="/svg/searchbar-icon.svg"></button>
        </form>

        <div class="layout__row">

            <div class="layout__list-meta">

                <div class="list-summary">
                    <a href="/cbase/{{ cbase.slug }}">
                        <h2 class="list-summary__title">{{ cbase.name }}</h2>
                    </a>
                    <div class="list-summary__count">{{ cbase._embedded.usecase|length }} {{ translate("case studies", cbase._embedded.usecase|length) }} {% if q %}{{ translate("matching") }} "{{ q }}"{% endif %}</div>
                    <p class="list-summary__description">{{ cbase.description }}</p>
                    <div class="list-summary__curator">
                        <div class="curator">
                            <img
                                data-original-img="{{ cbase.image }}"
                                src="https://img.codefor.nl?url={{ (cbase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=80&width=80" class="curator__avatar">
                            <div class="curator__contact">
                                <h3 class="curator__name">{{ cbase.admin_name }}</h3>
                                <div class="curator__badge">{{ translate("curator") }}</div>
                                <a href="mailto:{{ cbase.admin_email }}" class="curator__email">{{ cbase.admin_email }}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layout__project-list">

{% for usecase in cbase._embedded.usecase %}

                <a href="/cbase/{{ cbase.slug }}/usecase/{{ usecase.slug }}" name="{{ usecase.slug }}">
                    <div class="project layout__project-list-item">
                        <img
                            data-original-img="{{ usecase.image }}"
                            src="https://img.codefor.nl?url={{ (usecase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=426&width=640" class="project__image">
                        <div class="project__meta">
                            <div class="project__summary">
                                <h3 class="project__title">{{ usecase.name }}</h3>
                                <h4 class="project__location">{{ usecase.organisation }}</h4>
                            </div>
                            <!--
                            <div class="project__tools">
                                <img src="/svg/tools-icon.svg" class="project__tools-icon">
                                <span class="project__tools-count">{{ usecase.tools|length }} tool</span>
                            </div>
                            -->
                        </div>
                    </div>
                </a>

{% endfor %}

            </div>
        </div>
        
    </main>
    <footer>
        <div class="footer__text">
            <p>"Clarity - case studies" is a part of the <a href="https://clarity-csa.eu/">Clarity Open eGovernment Services</a> project.</p>
            <p>The CLARITY project is a two-year project, funded by the European Commission under the Horizon 2020 framework. Grant Agreement number: 693881</p>
            <p>"Clarity - case studies" is available as an open source application, maintained by Code for NL on <a href="https://github.com/codefornl/clarity_slim">github.com/codefornl/clarity_slim</a>.</p>
            <p>Please contact <a href="http://www.codefor.nl">Code for NL</a> for more information.</p>
        </div>
    </footer>
</body>
</html>