<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clarity - {{ translate("case studies", cbase.language) }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&amp;display=swap" rel="stylesheet">
    <link href="/css/foundation.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/additions.css" rel="stylesheet" type="text/css">


    <meta property='og:url' content='{{ uri }}'>
    <meta property='og:title' name='title' content="{{ cbase.name }}">
    <meta property='og:description' name='description' content="{{ cbase.description }}">
    <meta property='og:image' content="{{ (cbase._embedded.usecase|first).image }}">
    <link rel='image_src' href="{{ (cbase._embedded.usecase|first).image }}"/>
    <meta name='keywords' content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ cbase.name }}">
    <meta name="twitter:description" content="{{ cbase.description }}">
    <meta name="twitter:image:src" content="{{ (cbase._embedded.usecase|first).image }}">
</head>

<body class="layout">

    <header>
        <div class="nav__logo">
            <img src="/img/Logo-slash-01.png" style="height: 48px"> <span class="nav__logo--background-orange">&nbsp;CODE for NL&nbsp;</span>
            <div style="margin-top: 10px; font-size: 12px; margin-left: 80px">Collecties</div>
        </div>
        <div class="nav__search">
            <form class="searchbar layout__searchbar"  action="/cbase/{{ cbase.slug }}">
                <input type="text" class="searchbar__input" placeholder="{{ translate("Search", cbase.language) }} {{ cbase.name }} {{ translate("case studies", cbase.language) }}" name="q" value="{{ q }}" name="q" value="{{ q }}">
                <button class="searchbar__button"><img src="/svg/searchbar-icon.svg"></button>
            </form>
        </div>
    </header>

    <main class="main-content layout__main-content">
        <div class="layout__row">

            <div class="layout__list-meta">

                <div class="list-summary">
                    <a href="/cbase/{{ cbase.slug }}">
                        <h2 class="list-summary__title">{{ cbase.name }}</h2>
                    </a>
                    <div class="list-summary__count">{{ cbase._embedded.usecase|length }} {{ translate("case studies", cbase.language) }} {% if q %}{{ translate("matching", cbase.language) }} "{{ q }}"{% endif %}</div>
                    <p class="list-summary__description">{{ cbase.description }}</p>
                    <div class="list-summary__curator">
                        <div class="curator">
                            <img
                                data-original-img="{{ cbase.image }}"
                                src="https://img.codefor.nl?url={{ (cbase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=80&width=80" class="curator__avatar">
                            <div class="curator__contact">
                                <h3 class="curator__name">{{ cbase.admin_name }}</h3>
                                <div class="curator__badge">{{ translate("curator", cbase.language) }}</div>
                                <a href="mailto:{{ cbase.admin_email }}" class="curator__email">{{ cbase.admin_email }}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layout__project-list">

{% for usecase in cbase._embedded.usecase %}

                <div class="project layout__project-list-item">
                    <a class="layout__project_list-item-wrapper" href="/cbase/{{ cbase.slug }}/usecase/{{ usecase.slug }}">
                        <div class="project_list-item-top">
                            <img
                                data-original-img="{{ usecase.image }}"
                                src="https://img.codefor.nl?url={{ (usecase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=426&width=640" class="project__image" />
                        </div>
                        <div class="project__meta">
                            <h3 class="project__title">{{ usecase.name }}</h3>
                            <h4 class="project__location">{{ usecase.organisation }}</h4>
                            <!--
                            <div class="project__tools">
                                <img src="/svg/tools-icon.svg" class="project__tools-icon">
                                <span class="project__tools-count">{{ usecase.tools|length }} tool</span>
                            </div>
                            -->
                        </div>
                    </a>
                </div>


{% endfor %}

            </div>
        </div>

    </main>

{% include 'footer.html' %}

</body>
</html>
