<!doctype html>
<html>
{{ include('head.html')}}

<body class="layout">
    <header class="main-header layout__main-header">
        <a href="/">
            <img src="/svg/clarity-casestudies-logo.svg" alt="{{ translate('title') }}" class="main-header__logo">
        </a>
    </header>
    <main class="main-content layout__main-content">
        <form class="searchbar layout__searchbar">
            <input type="text" class="searchbar__input" placeholder="{{ translate('Search') }}" name="q" value="{{ q }}">
            <button class="searchbar__button"><img src="/svg/searchbar-icon.svg"></button>
        </form>

        {% for cbase in cbases %}
            {{ include('partials/cbase-list.html')}}
        {% endfor %}
    </main>
    {{ include('footer.html')}}
</body>
</html>