<!doctype html>
<html>
        {{ include('head.html') }}

<body class="layout">

    <header class="main-header layout__main-header">
        <a href="/#{{ usecase._embedded.cbase.slug }}">
            {% if usecase._embedded.cbase.logo_image %}
            <img src="{{ usecase._embedded.cbase.logo_image }}" alt="Clarity - case studies" class="main-header__logo">
            {% else %}
            <img src="/svg/clarity-casestudies-logo.svg" alt="Clarity - case studies" class="main-header__logo">
            {% endif %}
        </a>
    </header>

    <main class="main-content layout__main-content">

        <form class="searchbar layout__searchbar" action="/cbase/{{ usecase._embedded.cbase.slug }}">
            <input type="text" class="searchbar__input" placeholder="{{ translate('Search') }} {{ usecase._embedded.cbase.name }} {{ translate('case studies', 2) }}" name="q" value="{{ q }}">
            <button class="searchbar__button"><img src="/svg/searchbar-icon.svg"></button>
        </form>

        <div class="layout__row">

            <a href="/cbase/{{ usecase._embedded.cbase.slug }}#{{ usecase.slug }}" class="back-link layout__back">&larr; {{ usecase._embedded.cbase.name }} {{ translate("case studies", 2) }}</a>

            <article class="project-detail layout__project-detail">
                <div class="project-detail__image"
                    data-original-img="{{ usecase.image }}"
                    style="background-image: url(https://img.codefor.nl?url={{ (usecase.image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=426&width=640)">
                    <div class="project-detail__overlay">
                        <h1 class="project-detail__title">{{ usecase.name }}</h1>
                        {% if usecase.organisation %}
                            {% if usecase.country %}
                                <h2 class="project-detail__location">{{ usecase.organisation }} ({{ usecase.country }})</h2>
                            {% else %}
                                <h2 class="project-detail__location">{{ usecase.organisation }}</h2>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="wrapper__text">
                    <p class="introduction">{{ usecase.teaser }}</p>

                    <p>{{ usecase.description }}</p>

                    <p><a href="{{ usecase.website }}">{{ usecase.website }}</a></p>
                </div>
            </article>

            <aside class="project-meta layout__project-meta">

                <div class="project-meta__item">
                    <h3 class="project-meta__header">{{ translate("Category") }}</h3>
                    <p class="project-meta__text">{{ usecase.category }}</p>
                </div>

                <div class="project-meta__item">
                    <h3 class="project-meta__header">{{ translate("Type") }}</h3>
                    <p class="project-meta__text">{{ usecase.type }}</p>
                </div>

                <div class="project-meta__item">
                    <h3 class="project-meta__header">{{ translate("Tools") }}</h3>
                    <a href="{{ usecase.download }}" class="project-meta__link">{{ usecase.download }}</a>
                </div>

                <div class="project-meta__curator">
                    <div class="curator">
                        <img
                            data-original-img="{{ usecase.contact_image }}"
                            src="https://img.codefor.nl?url={{ (usecase.contact_image|default('https://clarity.codefor.nl/img/One_black_Pixel.png'))|url_encode }}&height=80&width=80" class="curator__avatar">
                        <div class="curator__contact">
                            <h3 class="curator__name">{{ usecase.contact_name }}</h3>
                            <div class="curator__badge">{{ translate("contact") }}</div>
                            <a href="mailto:{{ usecase.contact_email }}" class="curator__email">{{ usecase.contact_email }}</a>
                        </div>
                    </div>
                </div>

            </aside>

        </div>
    </main>
    {{ include('footer.html')}}
</body>
</html>